#!/usr/bin/env bash

set -e

if command -v mise &> /dev/null; then
    echo "✓ Mise is already installed"
    mise --version
else
    # Install mise
    curl https://mise.run/zsh | sh
    echo "✓ Mise installed successfully"
fi
