format = """
$shell\
$container\
$username\
$hostname\
$directory\
$git_branch\
$character
"""
[shell]
disabled = false
format = "[$indicator]($style) "
bash_indicator = "bash"
zsh_indicator = "zsh"
fish_indicator = "fish"
powershell_indicator = "pwsh"
nu_indicator = "nu"
style = "bright-yellow bold"
# Example of placing it at the start
